extends layout.pug 

block number1
   if error
     p Please fill the input

   if success 
     p Good job  
   form.form(action="/add" method="POST")
        input.input(type="text" placeholder="Add your todo description here..." name="todo")
        button.btn Add  
        
   div.words  
        if words.length
          each todo in words
             p.todo #{ todo.description }
        else 
          p.todo No any todo available      
