* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #bdb8b5;
}

.wrapper {
    max-width: 800px;
    margin: 50px auto;
}

.logo {
    text-align: center;
    font-size: 4rem;
    font-family: sans-serif;
    background: black;
    color: white;
}

.form {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.input {
    display: inline-block;
    padding: 10px;
    font-size: 1.5rem;
    width: 80%;
    border: 1px solid #ccc;
    font-family: monospace;
    background: white;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1.5rem;
    width: 18%;
    border: none;
    background: #51545c;
    color: #fff;
}

.words {
    margin-top: 25px;
    border: 1px solid #ccc;
    padding: 10px;
    background: white;
}

.todo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    font-size: 1.5rem;
    border-bottom: 1px dotted #ccc;
    font-family: monospace;
    background: white;
}

.todo:last-child {
    border-bottom: none;
}

.todo:hover {
    background: #eee;
}

.error,
.success {
    text-align: center;
    font-size: 1.4rem;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 15px;
    font-family: monospace;
}

.error {
    color: red;
    border-color: red;
}

.success {
    color: green;
    border-color: green;
}

.delete {
    text-decoration: none;
    font-size: 1rem;
    padding: 5px;
    background: #c91e1e;
    color: #fff;
    opacity: 0;
}

.delete:hover {
    opacity: 1;
}

.done,
.undone {
    text-decoration: none;
    color: black;
    background: white;
}

.done {
    text-decoration: line-through;
}